{block #content}

<h1 n:block="title">Export</h1>

<p> Export je proveden formou odeslání všech prozatím neexportovaných prodejů emailem pojišťovně, která hradí doplatky</p>


{control exportForm}
